.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  font-size: calc(10px + 2vmin);
  justify-content: left;
}

table {
  border: 3px solid white;
  border-collapse: collapse;
}

tr:nth-child(3n) {
  border-bottom: 3px solid white;
}

td {
  border: 1px solid white;
  align-items: center;
  flex-direction: row;
  height: 2em;
  width: 2em;
}

td:nth-child(3n) {
  border-right: 3px solid white;
}

td input {
  background-color: #282c34;
  border: none;
  color: white;
  display: flex;
  height: 1em;
  justify-content: center;
  outline: none;
  text-align: center;
  width: 2em;
}