.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  color: white;
}

table {
  border: 3px solid white;
  border-collapse: collapse;
}

tr:nth-child(3n) {
  border-bottom: 3px solid white;
}

td {
  border: 1px solid white;
  align-items: center;
  flex-direction: row;
  height: 2em;
  width: 2em;
}

td.broken {
  background-color: darkred;
}
td.given {
  background-color: #444444;
  color: lightgray;
}

td:nth-child(3n) {
  border-right: 3px solid white;
}

td input {
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  height: 1em;
  justify-content: center;
  outline: none;
  text-align: center;
  width: 2em;
}

button {
  width: 100%;
}

/*.MuiFormControl-root {*/
/*  background-color: #1976d2;*/
/*}*/
.MuiInputLabel-root.Mui-focused {
  color: white;
}

/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#Joke {
  font-weight: bold;
  padding: 16px;
}

#Punchline {
  font-weight: normal;
  padding: 16px;
}